{% extends 'movieapp/base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="jumbotron jumbotron-fluid jumbotron-bg">
        <div class="container">
            <div class="text-center">
                <img src="{% static "movieapp/img/notyetrated-default.png" %}" alt="">
            </div>
            <p class="lead text-center">Your source for reviews and ratings to help maximize your entertainment
                experience. Whether it is a movie, TV series/show, music videos or stage play, our reviews will help
                you find the perfect option.
            </p>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">Search reviews of</span>
                </div>
                <input type="text" aria-label="lost item" class="form-control"
                    placeholder="Aquaman, God calling, Kings of Boys etc">
                <div class="input-group-prepend">
                    <span class="input-group-text">in</span>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Category...</option>
                    <option value="1">Comedy</option>
                    <option value="2">Romance</option>
                    <option value="3">Drama</option>
                    <option value="1">Adventure</option>
                    <option value="2">Crime</option>
                    <option value="3">Thriller</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="text-center">
            <h2 class="mb-3">Movies by {{ view.kwargs.name }} ({{ page_obj.paginator.count }})</h2>
        </div>

        <div class="row">
            {% for movie in movies %}
            <div class="col-6 col-md-4">
                <div class="movie-element">
                    <div class="image-element">
                        <a href="{% url 'movie-detail' movie.id %}"><img src="{{ movie.image.url }}" alt=""></a>
                    </div>
                    <div class="text-element">
                        <h3><a href="{% url 'movie-detail' movie.id %}">{{ movie.title|truncatewords:6 }}</a></h3>
                    </div>
                    <div class="text-element">
                        <h4>{% for cast in movie.cast.all %}
                            {{ cast.name|truncatewords:12 }}{% if not forloop.last %},
                            {% endif %}
                            {% endfor %}</h4>
                    </div>
                    <div class="text-element">
                        <h5>{% for category in movie.category.all %} {{ category.name }} {% if not forloop.last %}|
                            {% endif %} {% endfor %}</h5>
                    </div>
                    <div class="text-element">
                        <i class="fa fa-calendar"></i>
                        <h6>{{ movie.release_date|date:'F d, Y' }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

        {% endif %}

    </div>

</section>
{% endblock content %}